.btn-light, .btn-dark{
    transition-property: color, clip-path;
    transition: 0.3s ease-in-out;
    --b:1px;   /* border length*/
    --c:10px;  /* the cube perspective */

    border-width:0 0 calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
    clip-path:polygon(
        var(--c) 0%, 
        var(--c) 0%, 
        100% 0%, 
        100% calc(100% - var(--c)),
        100% calc(100% - var(--c)),
        var(--c) calc(100% - var(--c)),
        var(--c) calc(100% - var(--c))
        );

        transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
}

.btn-light{
    background-color:black;
    color:#E5B367;

}

.btn-dark{
    background-color:white;
    color:black;
    border-color:black;
}

.btn-light{
    background-color:black;
    color:#E5B367;
    border-color:#E5B367;
}

.btn-dark:hover{
    border-color: #E5B367 ;
    color:#E5B367;
    clip-path: 
    polygon(
    0% var(--c), 
    var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), 
    calc(100% - var(--c)) 100%, 
    0% 100%,
    0% 100%
    );
    transform:translate(0,0);
}

.btn-light:hover{
    border-color: white ;
    color:white;
    clip-path: 
    polygon(
    0% var(--c), 
    var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), 
    calc(100% - var(--c)) 100%, 
    0% 100%,
    0% 100%
    );
    transform:translate(0,0);
}