.home-section{
    display:flex;
    flex-direction:row;
 
}
.home-t1{
    font-size:4.5rem;
    line-height:1;
}
.home-t2{
    font-size: 3rem/* 48px */;
    line-height: 1;
}
.home-t3{
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */
}

.home-t1,.home-t2,.home-t3{
    font-weight:bold;
}
.home-t1, .home-t2{
    margin-bottom: 2.5rem;
    
}
.home-text{
    margin-left:1rem;
}

.leftArrow, .rightArrow {
    max-width: 35%;
    margin:0;
    padding:0;
}

/* 1st animation */

.leftArrow{
    /* transform: translate(-20%, 5%); */
    clip-path: polygon(100% 0, 0% 40%, 0 40%, 100% 81%, 100% 61%, 46% 40.6%, 100% 20%); 
}

.rightArrow{
    /* transform: translate(20%, 5%); */
     clip-path: polygon(0% 0%, 100% 40%, 100% 40%, 0 81%, 0 61%, 53.8% 40.7%, 0 20%); 

}


/* 2nd animation  */
/* .leftArrow:hover {
    transform: translate(-20%,-5%);
    clip-path: polygon(100% 0%, 0% 40%, 0% 60%, 100% 100%, 100% 61%, 70% 49%, 100% 38%);
}

.rightArrow:hover{
    transform: translate(20%,-5%);
    clip-path: polygon(0 0, 100% 40%, 100% 60%, 0 100%, 0 60%, 32% 49%, 0 37%);
} */

.light .arrow{
    fill: black;
}

.light .wall{
    fill: white;
}

.dark .arrow{
    fill: white;
}

.dark .wall{
    fill: #E5B367;
}

.devLogo{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: end;
    align-items: center;
}
 @media screen and (max-width: 599px){
    .home-section{
        flex-direction:column-reverse;
        justify-content: center;
    }
    .home-text{
        width:100% ;
    }
    .home-t1{
        font-size:3rem 
    }
    .home-t2{
        font-size:2rem 
    }
    .home-t3{
        font-size:1rem 
    }
    .devLogo{
      justify-content: center;
    }

}
