
.leftArrow, .rightArrow {
    max-width: 25%;
    /* transition: all 0.5s ease-in-out; */
    margin:0;
    padding:0;
}

/* 1st animation */

.leftArrow{
    /* transform: translate(-20%, 5%); */
    clip-path: polygon(100% 0, 0% 40%, 0 40%, 100% 81%, 100% 61%, 46% 40.6%, 100% 20%); 
}

.rightArrow{
    /* transform: translate(20%, 5%); */
     clip-path: polygon(0% 0%, 100% 40%, 100% 40%, 0 81%, 0 61%, 53.8% 40.7%, 0 20%); 

}



/* 2nd animation  */
/* .leftArrow:hover {
    transform: translate(-20%,-5%);
    clip-path: polygon(100% 0%, 0% 40%, 0% 60%, 100% 100%, 100% 61%, 70% 49%, 100% 38%);
}

.rightArrow:hover{
    transform: translate(20%,-5%);
    clip-path: polygon(0 0, 100% 40%, 100% 60%, 0 100%, 0 60%, 32% 49%, 0 37%);
} */

.light .arrow{
    fill: black;
}

.light .wall{
    fill: white;
}

.dark .arrow{
    fill: white;
}

.dark .wall{
    fill: #E5B367;
}
/* @media screen and (max-width: 599px){
    h1{
        font-size:1.85rem !important;
    }
    h2{
        font-size:1.5rem !important;
    }
    h3{
        font-size:1rem !important;
    }
    .devLogo{
        visibility: hidden;
    }
    .home-text *{
        width:100% !important
    }
}

@media screen and  (min-width: 600px)  and (max-width: 800px) { 
    h1{
        font-size:2.5rem !important;
    }
    h2{
        font-size:1.5rem !important;
    }
    h3{
        font-size:1rem !important;
    }
}
 */
