.App{

   display:flex;
   
   
    .page{
        background-color:#008080;
        width:100%;
        height:100vh;
        position:relative;
        padding: 0 0 0 65px;;
        
        .tags,.body-tags{  
            position:relative;
            left:0px;
        }
        
        .tags{
            font-family:'La Belle Aurore';
            opacity: 0.8;
            color: #fdd700;
            display:block;
            width:30px;
            height:auto;
        }
        .body-tag{
            left: 40px;
        }
        .container{
            display: flex;
            flex-direction: row;
            
            // position:relative;
            // left:120px;
            padding : 0 0 0 120px;
            .headline{
                
                &:before{
                    content:'<h1>';
                    font-family: 'La Belle Aurore';
                    color:#fdd700;
                    opacity:0.8;
                    display:block;
                    width:10px;
                }
                &:after{
                    display:block;
                    content:'</h1>';
                    font-family: 'La Belle Aurore';
                    width:10px;
                    left:100px;
                    color:#fdd700;
                    opacity:0.8;
                    
                }
            }

            .image-area{
                img{
                    display:inline;
                }
            }
        }
    }
    
}

