.text-area{

    .headline{
        .logoChar{
            display:inline-block;
            width:40px;
            animation:bounceIn;
            animation-duration: 1s;
            animation-fill-mode: forwards;

        }
        
        .logoChar-hover{
            display:inline-block;
            width:40px;
            &:hover{
                
                animation: rubberBand 1s;
                animation-fill-mode:forwards;
                
            }
        }
    }
    
    h3{
        width:350px;
        overflow-wrap:break-word;
        color:#bababa;
        font-size:18px;
        
    }
}

.image-area{
    display:block;
    position:relative;
    left: 15%;
    svg{
        display:inline-block;
    }
}