svg,a {
    color:white;
}
.navbar{
    background-color: #000;
    position: absolute;
    z-index:3;
    top:0;
    height:100%;
    width:60px;

    .logo{
        display:block;
        width:25px;
        margin: 10px ;
        padding: 20px 0;
        img{
            display:inline-block;
            width:20px;
            margin:15px 5px;
            padding: 0 5px;
        }
    
    }
    
    nav{
        display:block;
        text-align: center;
        width:100%;

        a{
            position:relative;
            display:inline-block;
            text-decoration:none;
            
            font-family:'Coolvetica','Helvetica Neue', 'san-serif';
            font-size:20px;
            margin:10px;
            &:after{
                
                display:inline-block;
                width:100%;
                opacity:0;
                font-size:12px;

                position:relative;
                top:-28px;
                transition: all 0.3s ease-in;

                color:#FDD700;
                
                }
            svg{
                transition: all 0.3s ease-out;
                
                }

            &:hover {
                    svg{
                        opacity: 0;
                    }
                    &:after{
                        opacity:1;
                        
                    }
                }
            

            }
           
            }
            a.home-link{

                &:after{
                    content:'Home';
                }
            }
            a.skill-link{
                &:after{
                    content:'Skills';
                }
            }

            a.proj-link{
                &:after{
                    content:'Projects';
                }
            }
            a.contact-link{
                &:after{
                    content:'Contact';
                }
            }
            a.active{
                svg{
                    color:#FDD700;
                }
            }
      
    }
    
.socials{
        ul{
            list-style: none;
            padding:0;
            
            li{
                
                svg{
               
                font-size:20px;
                margin:10px;
                transition: all 0.3s ease-out;
                }


                a{
                    position:relative;
                    display:inline-block;
                    text-decoration:none;
                    font-size:20px;
                    margin: 0 10px;
                    &:after{
                        display:inline-block;
                        width:100%;
                        opacity:0;
                        font-size:12px;
        
                        position:relative;
                        top:-35px;
                        transition: all 0.3s ease-in;
        
                        color:#FDD700;
                    }
                    &:hover{
                        svg{
                            opacity:0
                        }
                        &:after{
                            opacity:1
                        }
                    }
                }
                a.github-link:after{
                    content:'Github'
                    
                }
                a.linkedin-link:after{
                    content:'LinkedIn'
                }

             }

        }
    }

        
    


