.svg-light{
    color:white;
}
.svg-dark{
    color:black
}
 .active svg, .active span {

    color: #e5b367;
}
.menu-light{
    color:black;
}
.menu-dark{
    color:white;
}
.mobile-nav{
    display:none;
}

.navLink{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 2px;
    padding:5px 0px;
}
.navLabel-light{
    color:white;
}
.navLabel-dark{
    color:black;
}
.navLink svg{
    width:30px;
    height:auto;
}
.navLink span{
    opacity: 0%;
}
.navLink:hover span{
    transition:all 0.2s ease-in-out;
    opacity: 100%;
}
.navIcon{
    width:50px;
    height:auto
}

nav{
    height:96%
}

.light-navbg {
    background-color: black;
}


.dark-navbg {
    background-color: white;
}


.themeBtn{
    display:flex;
    justify-content: center;
    margin: 15px 2px;
    padding:10px 0px;

    
}

.themeBtn svg{
    width:30px;
    height:30px;
}

@media screen and (max-width:599px){
    .non-mobile-nav{
        display: none;
    }
    .mobile-nav{
        position: absolute;
        display:inline-block;
       
        z-index:1;
    } 
    .menu-icon {
        width:30px;
        height:30px;
    }

    .navLink span{
        opacity:100%;
    }

}