.light {
    fill:white;
}
.dark {
    fill:#E5B367;
}

 .exp-avatar-bg svg{
    position:absolute;
    max-width:30%;
    /* transform: translate(0%, -50%); */
}

.exp-avatar{
    position:absolute;
    width:40%;
    height:auto;
 
}