.avatar{
    .glasses{
        fill:#808080;
        fill-opacity:1;
        stroke:none;
        stroke-width:1.4589;
        stroke-linecap:round;
        stroke-opacity:1
    }
    .hair{
        fill:#895a28;
        fill-opacity:1;
    }
    .mouth{
        fill:#57100e;
        opacity:1;
        stroke:none;
    }
    .l-eye{
        fill:#500807;
        opacity:1;
        stroke:none;
    }
    .r-eye{
        fill:#500806;
        opacity:1;
        stroke:none;
    }
    .outline{
        display:inline;
        fill:#4e0605;
        fill-opacity:1;
    }
    .unknown{
        display:inline;
        fill:none;
        opacity:1;
        stroke:none;
    }
    .face-ear{
        fill:#fae2ba;
        fill-opacity:1;
    }

    .nose{
        fill:#FFBB92;
        opacity:1;
        stroke:none;
    }
    .l-brow{
        fill:#58120F;
        opacity:1.000000;
        stroke:none;
    }
    .r-brow{
        fill:#58120F;
        opacity:1.000000;
        stroke:none;
    }
    .body{
        fill:#3F3E3E;
        opacity:1.000000;
        stroke:none;
    }
    .table{
        position:absolute;
        width:450px;
        height: 50px;
        bottom:-40px;
        left:0px;
    }
    .mug{
        position:relative;
        width:60px;
        height:auto;
        fill:#732a5e;
        fill-opacity:1;
        stroke-width:0.570874;
        stroke-linecap:round;
    }
    svg{
        width:350px;
        height:auto;
    }
}