*{
    transition-duration: 0.5s;
    transition-property: background-color, fill;
    transition-timing-function: ease-in-out;
}

.mainbg-light{
    background-color: #E5B367;
    color:black;
}

.mainbg-dark{
    background-color: #000000;
    color:white;
}

