.mainbg-light{
    background-color: #E5B367;

}

.mainbg-dark{
    background-color: #000000;
}

.secondarybg-light{
    background-color: #000000;
}

.secondarybg-dark{
    background-color: #ffffff;
}

.icons-light{
    background-color:#ffffff;
}

.icons-dark{
    background-color:#000000;
}

.icons{
 transition: all 1s ease-in-out;
}

.icons:hover{
    background-color:#E5B367;
}