*{
    transition-duration: 0.3s;
    transition-property: background-color, fill,color;
    transition-timing-function: ease-in-out;
}
.mainbg{
    display:flex;
    position:absolute;
    align-items: center;
    height:100%;
    width:100%;
    overflow: hidden;
}

.mainbg-light{
    background-color: #E5B367;
    color:black;
}

.mainbg-dark{
    background-color: #000000;
    color:white;
}

@media screen and (max-width:599px){

}